.Logo {
    display: flex;
    justify-items: flex-start;
    width: 16%;
    margin-left: 5%;
}

nav {
    display: flex;
    margin:  1%;
}


ul {
    display: flex;
    align-items: center;
    gap: 50%;

}

li{
    display: flex;
    align-items:center;
    font-family: roboto;
    font-weight: bold;
    font-size: 150%;
    width: 130%;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: red;
}

@media screen AND (min-width: 940px) {

    .Logo {
        width: 6%;
    }
    
    nav {
        margin-left: -20%;
        justify-content: space-evenly;

    }

    ul {
        padding: 0;
    }

    li { 
        font-size: 300%;
    }
}
    