.illustration1 {
    width: 30%;
  }
  
  .resume {
    margin: 3%;
  }
  
  p {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 120%;
  }

  @media screen AND (min-width: 428px) {
    .illustration1 {
      float: left;
    }
  
    .resume {
      padding-left: 2%;
      padding-right: 2%;
    }
  }