* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}

.App{
  height: auto;
  /* background-color: #D08856; */
  background-image: linear-gradient(to bottom,  #EDEFEE 0%, #FFFFF3  100%);
}
